cask "{{ .Name }}" do
  version "{{ .Version }}"
  sha256 "{{ .SHA256 }}"

  url "{{ .URL }}"
  name "{{ .DisplayName }}"
  desc "{{ .Description }}"
  homepage "{{ .Homepage }}"

  pkg "{{ .PkgFilename }}"
{{- if .BinaryPath }}

  binary "{{ .BinaryPath }}"
{{- end }}

  uninstall pkgutil: "{{ .BundleIdentifier }}"
end
